.slider-inter {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;

  .title-con {
    width: 100%;
    max-width: 1200px;
    justify-self: center;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;

    box-sizing: border-box;
    h2 {
      max-width: fit-content;
    }
  }

  .mySwiper_interior {
    background-color: transparent;
    padding-bottom: 30px;
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    overflow: visible;
    .swiper-wrapper {
      .swiper-slide {
        height: 560px;
        max-height: 560px;
        background-color: transparent;
        width: 100%;
        border-radius: 20px;
        img {
          max-height: 560px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.swiper-scrollbar {
  width: 220px !important;
  height: 4px !important; /* Высота полосы скролла */
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  left: calc(50% - 110px) !important;
}

.swiper-scrollbar-drag {
  height: 100%;
  background: #000;
  border-radius: 10px;
}
.swiper-scrollbar-drag {
  max-width: 220px; /* Если нужно ограничить максимальную ширину ползунка */
}

@media (max-width: 1200px) {
  .slider-inter .mySwiper_interior .swiper-wrapper .swiper-slide {
    height: clamp(400px, 40vw, 560px);
  }
}
